.header {
  background-color: #000;
  width: 100%;
  height: 79px;
  line-height: 80px;
}
.header .nav {
  padding-left: 190px;
}
.header .nav li {
  float: left;
  padding-right: 23px;
}
.header .nav li a {
  color: #ffffff;
  font-size: 12px;
  position: relative;
}
.header .nav li a .arrows-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  right: -10px;
  top: 6px;
}
.tbody {
  padding-top: 122px;
}
.tbody .city {
  padding-top: 41px;
  padding-bottom: 58px;
}
.tbody .city li {
  display: inline-block;
}
.tbody .city li div {
  border: 1px solid #000;
  text-align: center;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 21px;
  width: 100px;
  height: 34px;
}
.tbody .city li div a {
  display: inline-block;
  width: 100px;
  height: 34px;
  line-height: 34px;
  background-color: #fff;
  color: #000;
  transition: background-color 1s, color 1s;
}
.tbody .city li div a:hover {
  background-color: #000;
  color: #fff;
}
.tbody .city li .active {
  background-color: #000;
  color: #fff;
}
.tbody .pic {
  text-align: center;
}
.tbody .pic img {
  margin-bottom: 40px;
}
.tbody .pic .to-top a {
  display: inline-block;
  width: 130px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
}
hr {
  margin-top: 119px;
  margin-bottom: 48px;
  color: #d6d6d6;
}
.footer {
  text-align: center;
}
.footer .bottom {
  margin-top: 50px;
  position: relative;
}
.footer .bottom h2 {
  font-size: 28px;
  margin-bottom: 43px;
}
.footer .bottom span {
  line-height: 30px;
  font-size: 16px;
}
.footer .bottom p {
  font-size: 16px;
  margin: 9px 0 ;
}
.footer .bottom .ft {
  margin-top: 30px;
  margin-left: 25%;
  width: 675px;
  height: 69px;
  line-height: 69px;
  border-top: 1px dashed #000;
}
.footer .bottom .ft a {
  font-size: 14px;
  margin: 0 3px;
  border-bottom: 1px solid #000;
}
.footer .bottom .xiaotu {
  position: absolute;
  right: 20px;
  bottom: 28px;
}
.footer .bottom .xiaotu img {
  height: 20px;
}
.end {
  text-align: center;
}
.end img {
  width: 100%;
  height: 62px;
}
